@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html{
    scroll-behavior: smooth;
}
body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
main img{
    height: 400px;
}
main p{
    float: right;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    

}
.container{
    text-align: center;
    margin-top: 10px;
}
.button{
    border: 5px solid blue;
    background: none;
    color: #3498db;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family:'Poppins', sans-serif;
    transition-duration: .8s;
    border-radius: 25px;
    
}
.button:hover{
    background-color: #3498db;
}
main a{
    text-decoration: none;
}
main section button:hover{
    color:#fff;

}
nav{
    background-color: #f4f4f4;
    padding: 10px;
    position: sticky;
    top: 0px;
}
nav ul{
    white-space: nowrap;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}
nav li a{
    text-decoration: none;
    color: #4b4b4b;
    font-family: 'Poppins', sans-serif;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

#contact{
    background: #f4f4f4;
    background-image: "nature.jpg";
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
    
}
section h2{
    text-align: center;
    font-size: 30px;
}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid gray;

}
footer{
    background: #4b4b4b;
    color: white;
    text-align: center;
    padding: 10px;
    
}
nav li a:hover{
    text-decoration:none;
    background-color:white;
    border-radius: 10px;
    border: 2px solid blue;
    padding: 5px;
}

form input:valid{
    border: 4px solid #71d300;
}
.flexbox-container{
    display: flex;
    justify-content: center;
}
.flexbox-item{
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: white;
}
.flexbox-item-1{
    min-height: 100px;
    text-align: center;
}
.flexbox-item-2{
    min-height: 200px;
    text-align: center;
}
.flexbox-item-3{
    min-height: 300px;
    text-align: center;
}
#projects{
    text-align: center;
}
.flexbox-item:hover{
    position: relative;
    top:-4px;
    color: blue;
}

